.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding: 40px 20px 50px 20px;
    

    .body{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .linkContainer{
        
            perspective-origin: bottom;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 30px;
        }
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        a{
            width: 50%;
            margin-top: 5px;
        }
    }
}